.tablecontainer {
  display: none;
}

.active {
  display: block;
}

table.result.v-style {
  border-collapse: collapse;
  width: 100%;
}

table.result.v-style th,
table.result.v-style td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

table.result.v-style th {
  background-color: #f2f2f2;
}

table.calc_result,
table.result.v-style {
  border-collapse: collapse;
  width: 100%;
}

table.calc_result th,
table.calc_result td,
table.result.v-style th,
table.result.v-style td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

table.calc_result th,
table.result.v-style th {
  background-color: #f2f2f2;
}

.table-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5f2df;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* テーブルのレイアウトを固定する */
}

th, td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

td {
  font-size: 14px;
}

.tier1 {
  background-color: #f5f2df;
  color: #f5f2df;
}

/* ティア画像のスタイル */
.tier-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  border: 2.5px solid black; /* 青色の縁取りを追加 */
}
.tier-image2 {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
    border: 2.5px solid #2196F3; /* 青色の縁取りを追加 */
}

.tier-image:hover {
  transform: scale(1.1);
}

.open {
  cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
  display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
  display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.text {
  font-size: 18px;
  margin: 0;
}
.close {
position: absolute;
top: 10px;
right: 100px;
font-size: 20px;
color: #fff;
background-color: #333;
width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.close:hover {
background-color: #555;
}



