/* 共通のスタイル */
.tablecontainer {
  display: none;
}

.active {
  display: block;
}

table.calc_result {
  border-collapse: collapse;
  width: 100%;
}

table.calc_result th,
table.calc_result td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

table.calc_result th {
  background-color: #f2f2f2;
}

/* テーブルコンテナのスタイル */
.table-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5f2df;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container1 {
  max-width: 920px;
  margin: 0 auto;
  background-color: #f5f2df;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* キャラクター選択テーブルのスタイル */
.char_select {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* キャラクター選択テーブルのヘッダセルとデータセルのスタイル */
.char_select th, 
.char_select td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

/* キャラクター選択テーブルのヘッダセルのスタイル */
.char_select th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

/* キャラクター選択テーブルのデータセルのスタイル */
.char_select td {
  font-size: 14px;
}

/* キャラクターティアのスタイル */
.tier1 {
  background-color: #f5f2df;
}

.tierPyro {
  background-color: #FF6F6340;
}

.tierHydro {
  background-color: #4C92EA40;
}

.tierAnemo {
  background-color: #4CD9C840;
}

.tierErectro {
  background-color: #C773FF40;
}

.tierDendro {
  background-color: #7AD84C40;
}

.tierCyro {
  background-color: #73CCFF40;
}

.tierGeo {
  background-color: #E6B32240;
}

/* ティア画像のスタイル */
.tier-image {
width: 100%;
height: auto;
border-radius: 50%;
transition: transform 0.3s ease-in-out;
border: 2.5px solid black; /* 青色の縁取りを追加 */
}
.tier-image2 {
width: 100%;
height: auto;
border-radius: 50%;
transition: transform 0.3s ease-in-out;
border: 2.5px solid #2196F3; /* 青色の縁取りを追加 */
}
.tier-image3 {
width: 50px;
height: 50px;
border-radius: 50%;
transition: transform 0.3s ease-in-out;
border: 1.7px solid black; /* 青色の縁取りを追加 */
}

/* ティア画像のホバースタイル */
.tier-image:hover {
  transform: scale(1.1);
}
.tier-image3:hover {
  transform: scale(1.1);
}
/* .open クラスの要素のスタイル */
.open {
  cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

.open_char {
  cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

/* #pop-up 要素のスタイル */
#pop-up {
  display: none; /* label でコントロールするので input は非表示に */
}

#pop-up_char {
display: none; /* label でコントロールするので input は非表示に */
}

/* .overlay クラスの要素のスタイル */
.overlay {
  display: none; /* input にチェックが入るまでは非表示に */
}

.overlay_char {
  display: none; /* input にチェックが入るまでは非表示に */
}

/* #pop-up:checked に連動する .overlay クラスの要素のスタイル */
#pop-up:checked + .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#pop-up_char:checked + .overlay_char {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.table-buttons button {
  display: inline-block; /* ボタンを横に並べる */
  margin-right: 7.5%; /* ボタンの間に余白を設定 */
}





.status_table {
  border-collapse: collapse;
  margin: 0 left;
  padding: 0;
  width: 600px;
}

.status_table tr {
  background-color: #fff;
  border-bottom: 2px solid #fff;
}

.status_table td,
.status_table th{
text-align: center;
}

.status_table tr:nth-child(even){
  background-color: #eee;
}

.status_table th,
.status_table td {
  padding: .35em 1em;
}

.status_table thead th {
  font-size: .85em;
  padding: 1em;
}

.status_table thead tr{
  background-color: #fd6767;
  color:#fff;
}

.status_table tbody th {
  font-size: .8em;
}

@media screen and (max-width: 600px) {
  .status_table {
      width: 100%; /* テーブルの幅をウィンドウ幅の100%に設定 */
  }
}



.team-buff-form {
  max-width: 500px;
  margin: 0;
  background-color: #E6E6FA;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.team-buff-form th,
.team-buff-form td {
  padding: 15px;
  text-align: center;
}

.team-buff-form th {
  background-color: #E6E6FA;
  color: #444;
  font-weight: bold;
  text-align: left;
}

.team-buff-form input,
.team-buff-form select {
  width: 100%;
  padding: 1px;
  font-size: 14px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  transition: border-color 0.3s;
}

.team-buff-form input:focus,
.team-buff-form select:focus {
  outline: none;
  border-bottom-color: #007bff;
  box-shadow: 0 1px 0 0 #007bff;
}

.team-buff-form label {
  display: block;
  text-align: left;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  width: 100px;
}

.team-buff-form .btn:hover {
  background-color: #0056b3;
}

/* アンダーバーの修正 */
.team-buff-form input {
  padding-bottom: 3px;
}

/* 各列の input 要素のセンタリング */
.team-buff-form td div {
  display: flex;
  justify-content: center;
}


/* 固定バフと変動バフの間隔を調整 */
.team-buff-form td:nth-child(3) {
  width: 10%;
}

.af-buff-form {
  max-width: 500px;
  margin: 0;
  background-color: #FEDCBD;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.af-buff-form th,
.af-buff-form td {
  padding: 15px;
  text-align: center;
}

.af-buff-form th {
  background-color: #FEDCBD;
  color: #444;
  font-weight: bold;
  text-align: left;
}

.af-buff-form input,
.af-buff-form select {
  width: 100%;
  padding: 1px;
  font-size: 14px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  transition: border-color 0.3s;
}

.af-buff-form input:focus,
.af-buff-form select:focus {
  outline: none;
  border-bottom-color: #007bff;
  box-shadow: 0 1px 0 0 #007bff;
}

.af-buff-form label {
  display: block;
  text-align: left;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  width: 100px;
}

.af-buff-form .btn:hover {
  background-color: #0056b3;
}

/* アンダーバーの修正 */
.af-buff-form input {
  padding-bottom: 3px;
}

/* 各列の input 要素のセンタリング */
.af-buff-form td div {
  display: flex;
  justify-content: center;
}


/* 固定バフと変動バフの間隔を調整 */
.af-buff-form td:nth-child(3) {
  width: 10%;
}

.rayout {
  display: flex; /* 要素をフレックスコンテナとして表示 */
}

.item {
  flex: 1; /* 2つの要素を均等に横並びにするため、フレックスアイテムの伸縮比率を1に設定 */
  box-sizing: border-box; /* paddingとborderを要素の幅に含める */
  padding: 10px; /* オプション：要素の内側の余白を追加 */
}

.flex-container {
  display: flex; /* div要素をフレックスコンテナとして表示 */
  height: 100vh; /* ビューポートの高さいっぱいに表示 */
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px; /* ボックス間に余白を設定 */
}



/* スマートフォンの場合のスタイル */
@media only screen and (max-width : 767px){
  .rayout {
    flex-direction: column; /* 縦方向に並べるように変更 */
  }

  .item {
    flex: none; /* フレックスアイテムの伸縮を解除 */
    width: 100%; /* 要素を100%の幅に設定 */
  }

  .team-buff-form {
    max-width: 100%;
    margin: 0;
    background-color: #E6E6FA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2px;
    width: 100%;
    .af-buff-form td:nth-child(3) {
      width: 30%;
  }

  .af-buff-form {
    max-width: 100%;
    margin: 0;
    background-color: #FEDCBD;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 100%;
    }
  }
}
